# Secrets
.env

# Python cache
__pycache__/

# Generated / regenerable artifacts
csvs/

# temporary storage of downloaded transcripts for verification.
transcripts/

# misc files that we might need again, but probably won't.
audio_backup/